@import url('https://fonts.googleapis.com/css?family=Comfortaa');
* {
    margin: 0;
    padding: 0;

}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Comfortaa', cursive;
    position:relative;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.doc {
    position:absolute;
    bottom:10px;
    left:10px;
    color:white;
    font-size:30px;
}
#logo {
    width: 15%;
    height:10vh;
    position: absolute;
    top:0;
    left:5%;
    z-index:4;
    display:none;
    
}
#animation_container {
background-color:rgba(255, 255, 255, 1.00);
width:1920px;
height:969px;
}
#canvas {
    position: absolute;
    top:0;
    left:0; 
    display: none; 
    background-color:rgba(255, 255, 255, 1.00);
}
#dom_overlay_container {
    pointer-events:none;
    overflow:hidden;
    width:1920px;
    height:969px;
    position: absolute; 
    left: 0px; 
    top: 0px; 
    display: none;
    z-index: 1;
}
#doors {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index: 3;
 
  
}
.doc {
    position:absolute;
    bottom:10px;
    left:10px;
    color:white;
    font-size:30px;
}
#respmenu {
    display:none;
}
#meni {
    width:30%;
    height:10vh;
    position: absolute;
    top:5%;
    left:30%;
    z-index: 2;
    display:none;
}
#meni ul li {
    display: inline-block;
    margin-left:5%;
}
#meni ul li a {
    color:black;
}
#login {
    width:20%;
    height:20vh;
    position: absolute;
    right:0%;
    top:1%;
    display:none;
  
}
#login p {
    font-size:0.7em;
    position: absolute;
    top:23%;
    right:5%;

}
#login a {
    text-decoration: underline;
    color:blue;
    
}
#login input {
    
    margin-right:2%;
    line-height: 2em;
    border:2px solid grey;
    border-radius:1em;
    padding-left: 2%;
    width:35%;
    float: right;
}
#dugmeLgo {
    position: absolute;
    top:5%;
    right:0.5%;
    background: #A77D46;
    border-radius: 2em;
    border:1px solid #A77D46;
    color:white;
    padding: 0.5% 1%;
    display:none;
}
#wlcm{
    width:15%;
    height:10vh;
    position: absolute;
    top:1.7%;
    right:5%;
    font-size:10px;
    font-weight: 100;
    display:none;
    
}
#welcome {
    width:50%;
    float:left;
    display:none;
}
#imeUsr {
    width:40%;
    float:left;
    display:none;
}
.userFa {
    width:18%;
    float:left;
    font-size:25px;
    display:none;
}
#divLogin input[type="submit"] {
    background: #A77D46;
    border-radius: 2em;
    border:1px solid #A77D46;
    color:white;
    position: absolute;
    top:35%;
    right: 2%;
}
#proizvodi {
    position: relative;
}
#divBooked {
    position:relative;
}
#divAbout {
    position: relative;
}
#mapa {
    width: 100%;
    height: 30vh;
    position: absolute;
    top:0;
    left:0;
    background: url("../images/mapaSVG.svg");
    background-size: cover;
    background-position: 30% 90%;
    background-repeat: no-repeat;
}

#policeKnjige {
    width:100%;
    height:40vh;
 
}
#policeKnjige img {
    height:100%;
    width: 100%;
}
#policeKnjige .policaTravel,#policeKnjige .policaKids,#policeKnjige .policaRoman,#policeKnjige .policaHistory,#policeKnjige .policaComics,#policeKnjige .policaHorror {
    display:none;
}
#proizvodiDiv {
    width: 90%;
    height:55vh;
    margin:0px auto;
    border:1px solid black;
    position: relative;
    
}
#kategorijeDiv {
    width:70%;
    height:8vh;
    margin:0px auto;
    
}
#tbSearch {
    width:10%;

    position: absolute;
    top:5%;
    left:1%;
    line-height: 2em;
    border:2px solid grey;
    border-radius:1em;
    padding-left: 2%;
}


.dugmeCat {
    width:14%;
    margin-right: 2.5%;
    margin-top:2%;
    padding: 1%;
    background:#A77D46;
    border:1px solid white;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
}
#up {
    display:none;
    width:3%;
    height:5vh;
    position: absolute;
    bottom: 5%;
    right:0;
}
#productsDiv{
    width:100%;
    height:47vh;
}
.proizvod {
    width:20%;
    height:45vh;
    position:relative;
    float:left;
    margin-left:4%;

}
.proizvod h2 {
    text-align: center;
}
.proizvod img{
    width: 100%;
    height:50%;
    margin-top:3%;
}
.proizvod .autor {
    color:orange;
    font-style: italic;
    margin-bottom: 3%;
}
.proizvod .opisBook {
    margin-bottom: 2%;
}
.proizvod .zvezdice {
    color:orange;
    margin-top:3%;
}
.proizvod .add-to-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #A77D46;
    border-radius: 2em;
    border:1px solid #A77D46;
    color:white;
    padding: 0.5% 1%;
}
.divCart{
    width:20%;
    height:25vh;
    float:left;
  
}
.naslovP,.autorP,.quan {
    margin-top:50%;
    text-align: center;
}
#remove {
    background: #A77D46;
    border-radius: 2em;
    border:1px solid #A77D46;
    color:white;
    padding: 3% 5%;
    float:right;
    margin-top:50%;
   
}
#slikaP {
    width:20%;
    height: 10vh;
    float:left;
    
}
#slikaP img{
    width:20%;
    height:10vh;
   
  
}
#slikaaa img {
    width:20%;
    height:20vh;
    background: red;
}
#up i {
    font-size:32px;
}
#up2 i {
    font-size:32px;
}
#up3 i {
    font-size:32px;
}
#up2 {
    display:none;
    width:3%;
    height:5vh;
    position: absolute;
    bottom: 5%;
    right:0;
}
#up3 {
    display:none;
    width:3%;
    height:5vh;
    position: absolute;
    bottom: 5%;
    right:0;
}
#bookedSlika {
    width: 100%;
    height:40vh;

    position: absolute;
    top:0;
    left:0;
    
}
#bookedSlika img {
    width: 100%;
    height:40vh;
 

}
.zeleno {
    color:green;
}
#anketa {
     width: 90%;
    height:55vh;
    margin:0px auto;
    border:0.5px solid black;
    position: absolute;
    top:40vh;
    left:5%;


}
#anketa h3{
    padding:1% 3%;
}
#pitanje1 {
    width:100%;
    height:25vh;
}
#pitanje2 {
    width:100%;
    height:25vh;
}
#glasanje {
    width:20%;
    height:10vh;
    float:right;

}
#glasaj {
    background: #A77D46;
    border-radius: 2em;
    border:1px solid #A77D46;
    color:white;
    padding: 5% 20%;
    
    margin-top:-5%;
}
#feedbackAnketa {
    float:right;
    margin-right:2%;

}

#bookedProd {
    width:60%;
    height:25vh;
    border: 1px solid black;
    position: absolute;
    top:2%;
    left:30%;
}
.aboutUs {
    width:30%;
    height:40vh;
    position: absolute;
    top:33vh;
    left:5%;
}
#aboutDes {
    position: absolute;
    top:33vh;
    left:37%;

}
#aboutus i {
    font-size:3em;
    margin-bottom: 5%;
}
.aboutUs h1, h2 {
    margin-bottom: 7%;
}
.aboutUs p {
    margin-bottom: 7%;
}
#register {
    width:30%;
    height: 40vh;
    position: absolute;
    top:33vh;
    left:67%;

}
#forma {
    width:100%;
    height:40vh;
    position: relative;
}

#forma input {
    margin-bottom: 3%;
    width:90%;
    margin-left:3%;
    line-height: 3em;
    border:2px solid grey;
    border-radius:1.5em;
    padding-left: 5%;
}
#ddlGrad {
    margin-bottom: 5%;
    width:50%;
    margin-left:3%;
    line-height: 3em;
    border:2px solid grey;
    border-radius:1.5em;
    padding: 2% 5%;

}
#btnRgstr {
    width:20%;
    background: #A77D46;
    margin-left:3%;
    line-height: 3em;
    border:2px solid grey;
    border-radius:1.5em;
    padding: 0% 5%;
}
.nevidljiv {
    margin-bottom: 2%;
    color:red;
    display:none;
}
@media screen and (min-width:1441px) and (max-width:1920px) {
    .proizvod h2 {
        text-align: center;
        font-size:18px;
        margin-top:2%;
    }
    .proizvod img{
        width: 100%;
        height:30%;
        margin-top:2%;
    }
    .proizvod .autor {
        color:orange;
        font-style: italic;
        margin-bottom: 2%;
        font-size:15px;
    }
    .proizvod .opisBook {
        margin-bottom: 2%;
        font-size:15px;
    }
    .proizvod .zvezdice {
        color:orange;
        margin-top:3%;
    }
    #pitanje1 h3,#pitanje2 h3 {
        font-size:16px;
       padding: 0.3% 1%;
    }
  
    #abouts h1,#aboutus h2 {
        font-size:16px;
        margin-bottom: 3%;

    }
    #aboutus p {
        font-size:13px;
        margin-bottom: 3%;
    }
    #aboutus i {
        font-size:17px;
    }
    #aboutDes h1, #aboutDes h2 {
        font-size:16px;
        margin-bottom: 3%;
    }
    #aboutDes p {
        font-size:13px;
        margin-bottom: 3%;
    }
}
@media screen and (min-width:1274px) and (max-width:1440px) {
    .proizvod h2 {
        text-align: center;
        font-size:16px;
        margin-top:2%;
    }
    .proizvod img{
        width: 100%;
        height:30%;
        margin-top:2%;
    }
    .proizvod .autor {
        color:orange;
        font-style: italic;
        margin-bottom: 2%;
        font-size:13px;
    }
    .proizvod .opisBook {
        margin-bottom: 2%;
        font-size:13px;
    }
    .proizvod .zvezdice {
        color:orange;
        margin-top:3%;
    }
    #wlcm{

        font-size:10px;

        
    }

    .userFa {

        font-size:15px;

    }
    #pitanje1 h3,#pitanje2 h3 {
        font-size:15px;
       padding: 0.3% 1%;
    }
    #abouts h1,#aboutus h2 {
        font-size:16px;
        margin-bottom: 3%;

    }
    #aboutus p {
        font-size:13px;
        margin-bottom: 3%;
    }
    #aboutus i {
        font-size:17px;
    }
    #aboutDes h1, #aboutDes h2 {
        font-size:16px;
        margin-bottom: 3%;
    }
    #aboutDes p {
        font-size:13px;
        margin-bottom: 3%;
    }
    #btnRgstr {
        width:50%;
    }
}
@media screen and (min-width:1025px) and (max-width:1273px) {
    .proizvod h2 {
        text-align: center;
        font-size:14px;
        margin-top:2%;
    }
    .proizvod img{
        width: 100%;
        height:30%;
        margin-top:2%;
    }
    .proizvod .autor {
        color:orange;
        font-style: italic;
        margin-bottom: 2%;
        font-size:11px;
    }
    .proizvod .opisBook {
        margin-bottom: 2%;
        font-size:11px;
    }
    .proizvod .zvezdice {
        color:orange;
        margin-top:2%;
    }
    .tags {
        font-size:11px;
    }
    .catLink {
        font-size:11px;
    }
    #pitanje1 h3,#pitanje2 h3 {
        font-size:14px;
       padding: 0.3% 1%;
    }
    #abouts h1,#aboutus h2 {
        font-size:16px;
        margin-bottom: 3%;

    }
    #aboutus p {
        font-size:13px;
        margin-bottom: 3%;
    }
    #aboutus i {
        font-size:17px;
    }
    #aboutDes h1, #aboutDes h2 {
        font-size:16px;
        margin-bottom: 3%;
    }
    #aboutDes p {
        font-size:13px;
        margin-bottom: 3%;
    }
    #btnRgstr {
        width:50%;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .proizvod h2 {
        text-align: center;
        font-size:14px;
        margin-top:2%;
    }
    .proizvod img{
        width: 100%;
        height:25%;
        margin-top:2%;
    }
    .proizvod .autor {
        color:orange;
        font-style: italic;
        margin-bottom: 2%;
        font-size:11px;
    }
    .proizvod .opisBook {
        margin-bottom: 2%;
        font-size:11px;
    }
    .proizvod .zvezdice {
        color:orange;
        margin-top:2%;
    }
    .tags {
        font-size:11px;
    }
    .catLink {
        font-size:11px;
    }
    #pitanje1 h3,#pitanje2 h3 {
        font-size:13px;
       padding: 0.3% 1%;
    }
    #abouts h1,#aboutus h2 {
        font-size:16px;
        margin-bottom: 3%;

    }
    #aboutus p {
        font-size:13px;
        margin-bottom: 3%;
    }
    #aboutus i {
        font-size:17px;
    }
    #aboutDes h1, #aboutDes h2 {
        font-size:13px;
        margin-bottom: 2%;
    }
    #aboutDes p {
        font-size:10px;
        margin-bottom: 2%;
    }
    #btnRgstr {
        width:50%;
    }
}
@media screen and (min-width:501px) and (max-width:768px) {
}  
@media screen and (min-width:320px) and (max-width:500px) {
}